<div class="landing">
    <app-landing-navbar></app-landing-navbar>
    <app-landing-hero></app-landing-hero>
    <app-landing-features></app-landing-features>
    <app-landing-services [services]="services"></app-landing-services>
    <app-landing-demos [demos]="demos"></app-landing-demos>
    <app-landing-testimonials [testimonials]="testimonials"></app-landing-testimonials>
    <app-landing-statistics [statistics]="statistics"></app-landing-statistics>
    <app-landing-pricing-cards [pricingPlans]="pricingPlans"></app-landing-pricing-cards>
    <app-landing-cta></app-landing-cta>
    <app-landing-footer></app-landing-footer>
    <a href="javascript:void(0)" (click)="topFunction()" class="back-to-top" id="back-to-top"> <i
            class="mdi mdi-chevron-up"> </i> </a>
</div>