<div class="card">
    <div class="card-body">
        <div class="float-end" ngbDropdown placement="bottom-end">
            <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div ngbDropdownMenu>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Action</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Another action</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Something else</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Separated link</a>
            </div>
        </div>

        <h4 class="header-title mt-0 mb-4">{{title}}</h4>

        <div class="widget-chart-1">
            <div class="widget-chart-box-1 float-start" dir="ltr">
                <apx-chart class="apex-charts mt-0" [series]="chartOptions.series!" [chart]="chartOptions.chart!"
                    [dataLabels]="chartOptions.dataLabels!" [plotOptions]="chartOptions.plotOptions!"
                    [states]="chartOptions.states!" [colors]="chartOptions.colors!"></apx-chart>
            </div>
            <div class="widget-detail-1 text-end">
                <h2 class="fw-normal pt-2 mb-1"> {{stats}} </h2>
                <p class="text-muted mb-1">{{subTitle}}</p>
            </div>
        </div>
    </div>
</div>