<app-default-layout>
    <div class="text-center">
        <div class="mb-4">
            <h4 class="text-uppercase mt-0" i18n>Confirm Email</h4>
        </div>
        <img src="assets/images/mail_confirm.png" alt="img" width="86" class="mx-auto d-block" />

        <p class="text-muted font-14 mt-2" i18n> A email has been send to <b>youremail@domain.com</b>.
            Please check for an email from company and click on the included link to
            reset your password. </p>

        <a routerLink="/" class="btn d-block btn-pink waves-effect waves-light mt-3" i18n>Back to Home</a>
    </div>

</app-default-layout>