<section class="features" id="features">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ul ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav-pills nav-justified features-tab mb-5">
                    <li [ngbNavItem]="'code'">
                        <a ngbNavLink>
                            <div class="clearfix">
                                <div class="features-icon float-end">
                                    <h1><i class="pe-7s-notebook tab-icon"></i></h1>
                                </div>
                                <div class="d-none d-lg-block me-4">
                                    <h5 class="tab-title">Quality Code</h5>
                                    <p>At vero eos et accusam et</p>
                                </div>
                            </div>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-4 col-sm-6">
                                    <div>
                                        <img src="assets/images/landing/features-img/img-1.png" alt=""
                                            class="img-fluid mx-auto d-block">
                                    </div>
                                </div>
                                <div class="col-lg-6 offset-lg-1">
                                    <div>
                                        <div class="feature-icon mb-4">
                                            <h1><i class="pe-7s-notebook text-primary"></i>
                                            </h1>
                                        </div>
                                        <h5 class="mb-3">Quality Code</h5>
                                        <p class="text-muted">It will be as simple as Occidental in fact, it will be
                                            Occidental. To an English person it will seem like simplified English as a
                                            skeptical Cambridge.</p>
                                        <p class="text-muted">If several languages coalesce the grammar of the resulting
                                            language </p>
                                        <div class="row pt-4">
                                            <div class="col-lg-6">
                                                <div class="text-muted">
                                                    <p><i
                                                            class="mdi mdi-checkbox-marked-outline text-primary me-2 h6"></i>
                                                        Nemo enim ipsam quia</p>
                                                    <p><i
                                                            class="mdi mdi-checkbox-marked-outline text-primary me-2 h6"></i>
                                                        Ut enim ad minima</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="text-muted">
                                                    <p><i
                                                            class="mdi mdi-checkbox-marked-outline text-primary me-2 h6"></i>
                                                        At vero eos accusamus et </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-4">
                                            <a [routerLink]="['.']" class="btn btn-custom">Learn More <i
                                                    class="mdi mdi-arrow-right ms-1"></i></a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="'customize'">
                        <a ngbNavLink>
                            <div class="clearfix">
                                <div class="features-icon float-end">
                                    <h1><i class="pe-7s-edit tab-icon"></i></h1>
                                </div>
                                <div class="d-none d-lg-block me-4">
                                    <h5 class="tab-title">Easy to customize</h5>
                                    <p>Sed ut unde iste error sit</p>
                                </div>
                            </div>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-4 col-sm-6">
                                    <div>
                                        <img src="assets/images/landing/features-img/img-2.png" alt=""
                                            class="img-fluid mx-auto d-block">
                                    </div>
                                </div>
                                <div class="col-lg-6 offset-lg-1">
                                    <div>
                                        <div class="feature-icon mb-4">
                                            <h1><i class="pe-7s-edit text-primary"></i></h1>
                                        </div>
                                        <h5 class="mb-3">Easy to customize</h5>
                                        <p class="text-muted">At vero eos et accusamus et iusto odio dignissimos ducimus
                                            qui
                                            blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et
                                        </p>
                                        <p class="text-muted">If several languages coalesce the grammar of the resulting
                                            language </p>
                                        <div class="row pt-4">
                                            <div class="col-lg-6">
                                                <div class="text-muted">
                                                    <p><i
                                                            class="mdi mdi-checkbox-marked-outline text-primary me-2 h6"></i>
                                                        Nemo enim ipsam quia</p>
                                                    <p><i
                                                            class="mdi mdi-checkbox-marked-outline text-primary me-2 h6"></i>
                                                        Ut enim ad minima</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="text-muted">
                                                    <p><i
                                                            class="mdi mdi-checkbox-marked-outline text-primary me-2 h6"></i>
                                                        At vero eos accusamus et </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-4">
                                            <a [routerLink]="['.']" class="btn btn-custom">Learn More <i
                                                    class="mdi mdi-arrow-right ms-1"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="'support'">
                        <a ngbNavLink>
                            <div class="features-icon float-end">
                                <h1><i class="pe-7s-headphones tab-icon"></i></h1>
                            </div>
                            <div class="d-none d-lg-block me-4">
                                <h5 class="tab-title">Awesome Support</h5>
                                <p>It will be as simple as fact</p>
                            </div>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-4 col-sm-6">
                                    <div>
                                        <img src="assets/images/landing/features-img/img-3.png" alt=""
                                            class="img-fluid mx-auto d-block">
                                    </div>
                                </div>
                                <div class="col-lg-6 offset-lg-1">
                                    <div>
                                        <div class="feature-icon mb-4">
                                            <i class="pe-7s-headphones h1 text-primary"></i>
                                        </div>
                                        <h5 class="mb-3">Awesome Support</h5>
                                        <p class="text-muted">It will be as simple as Occidental in fact, it will be
                                            Occidental. To an English person it will seem like simplified English as a
                                            skeptical Cambridge.</p>
                                        <p class="text-muted">If several languages coalesce the grammar of the resulting
                                            language </p>
                                        <div class="row pt-4">
                                            <div class="col-lg-6">
                                                <div class="text-muted">
                                                    <p><i
                                                            class="mdi mdi-checkbox-marked-outline text-primary me-2 h6"></i>
                                                        Nemo enim ipsam quia</p>
                                                    <p><i
                                                            class="mdi mdi-checkbox-marked-outline text-primary me-2 h6"></i>
                                                        Ut enim ad minima</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="text-muted">
                                                    <p><i
                                                            class="mdi mdi-checkbox-marked-outline text-primary me-2 h6"></i>
                                                        At vero eos accusamus et </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-4">
                                            <a [routerLink]="['.']" class="btn btn-custom">Learn More <i
                                                    class="mdi mdi-arrow-right ms-1"></i></a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </ng-template>
                    </li>


                </ul>

                <div [ngbNavOutlet]="nav"></div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>