<app-default-layout>
  <div class="text-center mb-4">
    <h4 class="text-uppercase mt-0" i18n>Sign In</h4>
  </div>

  <form name="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <app-ui-preloader [display]="loading"></app-ui-preloader>
    <ngb-alert [dismissible]="false" type="danger" *ngIf="error">
      {{ error }}
    </ngb-alert>
    <div class="mb-3">
      <label for="emailaddress" class="form-label" i18n>Email address</label>
      <input class="form-control" type="email" id="emailaddress" required i18n-placeholder
        placeholder="Enter your email" formControlName="email"
        [ngClass]="{'is-invalid':formSubmitted && formValues['email'].invalid}" />

      <div *ngIf="formSubmitted && formValues['email'].invalid" class="invalid-feedback">

        <div *ngIf="formValues['email'].errors?.['required']" i18n>
          Please enter email
        </div>
        <div *ngIf="formValues['email'].errors?.['email']" i18n>
          Email must be a valid Email Address
        </div>

      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label" i18n>Password</label>
      <input class="form-control" type="password" required i18n-placeholder id="password"
        placeholder="Enter your password" formControlName="password"
        [ngClass]="{'is-invalid':formSubmitted && formValues['password'].invalid}" />
      <div *ngIf="formSubmitted && formValues['password'].invalid " class="invalid-feedback">

        <div *ngIf="formValues['password'].errors?.['required']" i18n>
          Password is required.
        </div>

      </div>
    </div>

    <div class="mb-3">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkbox-signin" checked />
        <label class="form-check-label" for="checkbox-signin" i18n>Remember me</label>
      </div>
    </div>

    <div class="mb-3 d-grid text-center">
      <button class="btn btn-primary" type="submit" i18n>Log In</button>
    </div>
  </form>


  <div class="row mt-3" footerLink>
    <div class="col-12 text-center">
      <p>
        <a routerLink="../recover-password" class="text-muted ms-1" i18n><i class="fa fa-lock me-1"></i>Forgot your
          password?</a>
      </p>
      <p class="text-muted" i18n>
        Don't have an account?
        <a routerLink="../register" class="text-dark ms-1"><b>Sign Up</b></a>
      </p>
    </div>
  </div>
</app-default-layout>