<div class="row">
    <div class="col-sm-12">
        <div class="timeline">
            <ng-container *ngFor="let timeline of timelineData;let i=index">

                <article class="timeline-item alt">
                    <div class="time-show" [class.first]="i===0">
                        <a [routerLink]="['.']" class="btn btn-primary width-lg">{{timeline.day}}</a>
                    </div>
                </article>

                <article class="timeline-item" *ngFor="let post of timeline.posts!" [class.alt]="post.id%2!=0">
                    <div class="timeline-desk">
                        <div class="panel">
                            <div class="panel-body">
                                <span [class]="post.id%2!=0 ? 'arrow-alt' : 'arrow'"></span>
                                <span class="timeline-icon" [class]="post.variant ? 'bg-'+post.variant : ''"><i
                                        class="mdi mdi-circle"></i></span>
                                <h4 class="mt-0" [class]="post.variant ? 'text-'+post.variant : 'text-muted'">
                                    {{post.postedOn}}</h4>
                                <p class="text-muted timeline-date"><small>{{post.time}}</small></p>
                                <div [innerHtml]="getRenderedPostContent(post.content!)"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </ng-container>
        </div>
    </div>
</div>