<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <div class=" float-end" ngbDropdown placement="bottom-end">
                    <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div ngbDropdownMenu>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Action</a>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Another action</a>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Something else</a>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Separated link</a>
                    </div>
                </div>
                <h4 class="header-title mt-0 mb-3">Basic Tree</h4>

                <div id="basicTree">
                    <tree-root [nodes]="basicNodes" [state]="state"></tree-root>
                </div>
            </div>
        </div>

    </div><!-- end col -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <div class=" float-end" ngbDropdown placement="bottom-end">
                    <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div ngbDropdownMenu>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Action</a>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Another action</a>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Something else</a>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Separated link</a>
                    </div>
                </div>
                <h4 class="header-title mt-0 mb-3">Checkbox Tree</h4>

                <div id="checkTree">
                    <tree-root [nodes]="checkboxNodes" class="reverse" [options]="options1" [state]="state"></tree-root>
                </div>
            </div>
        </div>

    </div><!-- end col -->
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <div class=" float-end" ngbDropdown placement="bottom-end">
                    <a href="javascript:void(0)" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle>
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div ngbDropdownMenu>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Action</a>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Another action</a>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Something else</a>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>Separated link</a>
                    </div>
                </div>
                <h4 class="header-title mt-0 mb-3">Drag and Drop Tree</h4>

                <div id="dragTree">
                    <tree-root [state]="state" [options]="options2" [focused]="true" [nodes]="dndNodes"></tree-root>
                </div>
            </div>
        </div>

    </div><!-- end col -->
</div>