<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-lg-3">
                <button class="btn btn-lg font-16 btn-success w-100" id="btn-new-event" (click)="createNewEvent()"><i
                        class="mdi mdi-plus-circle-outline"></i> Create New
                    Event</button>

                <div id="external-events">
                    <br>
                    <p class="text-muted">Drag and drop your event or click in the calendar</p>

                    <div *ngFor="let event of externalEvents" class="external-event bg-{{event.type}}"
                        [attr.data-type]="event.type">
                        <i class="mdi mdi-checkbox-blank-circle me-2 vertical-middle"></i>{{event.title}}
                    </div>

                </div>


                <div class="form-check my-3">
                    <input type="checkbox" class="form-check-input" id="drop-remove">
                    <label class="form-check-label" for="drop-remove">Remove after drop</label>
                </div>

            </div> <!-- end col-->

            <div class="col-lg-9">
                <div class="card">
                    <div class="card-body">
                        <div id="calendar">
                            <full-calendar #calendar [options]="calendarOptions"></full-calendar>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <app-calendar-event #eventModal (eventSaved)="handleEventSave($event)"
            (eventDeleted)="handleEventDelete($event)">
        </app-calendar-event>
    </div>
    <!-- end col-12 -->
</div> <!-- end row -->