<div [class]="containerClass">
    <ngb-accordion #acc1="ngbAccordion" activeIds="ngb-panel-0" [closeOthers]="true" class="custom-accordion">
        <ngb-panel cardClass="card mb-2 shadow-none" *ngFor="let faq of faqs">
            <ng-template ngbPanelTitle>
                <h5 class="card-title m-0">
                    <a href="javascript:void(0)" class="text-dark">{{faq.question}}</a>
                    <!-- <i class="icon-xs accordion-arrow" data-feather="chevron-down"></i> -->
                </h5>
            </ng-template>

            <ng-template ngbPanelContent>
                <div class="card-body">
                    {{faq.ans}}
                </div>
            </ng-template>

        </ngb-panel>
    </ngb-accordion>
</div>