<section class="section bg-light" id="services">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center">
                    <h6 class="text-primary small-title">Services</h6>
                    <h4>What we do</h4>
                    <p class="text-muted">At solmen va esser far uniform grammatica.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-sm-6" *ngFor="let service of services">
                <div class="services-box p-4 bg-white mt-4">
                    <div class="services-img float-start me-4">
                        <img [src]="service.image" alt="">
                    </div>
                    <h5>{{service.title}}</h5>
                    <div class="overflow-hidden">
                        <p class="text-muted">{{service.shortDesc}}</p>
                        <a [routerLink]="['.']" class="text-custom">Read more...</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>