<div class="conversation-list-card card">
    <div class="card-body">
        <div class="float-end" ngbDropdown placement="bottom-end">
            <a href="javascript:void(0)" class="arrow-none card-drop font-20" ngbDropdownToggle>
                <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div ngbDropdownMenu>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Action</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Another action</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Something else</a>
                <div class="dropdown-divider"></div>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Separated link</a>
            </div>
        </div>
        <div class="d-flex">
            <div class="flex-grow-1">
                <h5 class="mt-0 mb-1 text-truncate">{{selectedUser.name}}</h5>
                <p class="font-13 text-muted mb-0"><i class="mdi mdi-circle text-success me-1 font-11"></i>
                    {{selectedUser.status}}</p>
            </div>
        </div>
        <hr class="my-3">

        <div>
            <ul class="conversation-list slimscroll">
                <app-ui-preloader [display]="loading"></app-ui-preloader>
                <ngx-simplebar style="height: 410px;">
                    <li>
                        <div class="chat-day-title">
                            <span class="title">Today</span>
                        </div>
                    </li>
                    <li *ngFor="let message of messages" [ngClass]="{'odd': message.from.id === toUser.id}">
                        <div class="message-list">
                            <div class="chat-avatar">
                                <img [src]="message.from.avatar" [alt]="message.from.name"
                                    *ngIf="message.from.avatar" />
                                <span
                                    class="d-flex align-items-center justify-content-center avatar-sm rounded-circle bg-soft-{{message.from.variant}} text-{{message.from.variant}}"
                                    *ngIf="!message.from.avatar">
                                    <i [class]="message.from.icon"></i>
                                </span>
                            </div>
                            <div class="conversation-text">
                                <ng-container *ngFor="let item of message.message">
                                    <div class="ctext-wrap" *ngIf="item.type==='text'">
                                        <span class="user-name">{{message.from.name}}</span>
                                        <p>
                                            {{item.value}}
                                        </p>
                                    </div>
                                    <span class="time">{{message.sendOn}}</span>
                                </ng-container>
                            </div>
                        </div>
                    </li>

                </ngx-simplebar>
            </ul>
        </div>
    </div>
    <div class="p-3 conversation-input border-top">
        <form (ngSubmit)="chatForm.form.valid && sendChatMessage()" #chatForm="ngForm">
            <div class="row">
                <div class="col">
                    <div>
                        <input type="text" class="form-control" placeholder="Enter Message..." [(ngModel)]="newMessage"
                            name="message" #message="ngModel"
                            [ngClass]="{'is-invalid': chatForm.submitted && message.invalid && (message.dirty || message.touched)}"
                            required />

                        <div *ngIf="chatForm.submitted && message.invalid && (message.dirty || message.touched)"
                            class="invalid-feedback">
                            Please enter your messsage
                        </div>

                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary chat-send width-md waves-effect waves-light"
                        [disabled]="!chatForm.form.valid">
                        <span class="d-none d-sm-inline-block me-2">Send</span> <i class="mdi mdi-send"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>