<!-- modal start -->
<ng-template #standardModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modalLabel">Modal Heading</h4>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')">
        </button>
    </div>
    <div class="modal-body">
        <h6>Text in a modal</h6>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
        <hr>
        <h6>Overflowing text to show scroll behavior</h6>
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
            egestas eget quam. Morbi
            leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus
            vel augue laoreet rutrum
            faucibus dolor auctor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque
            nisl consectetur et.
            Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Save
            changes</button>
    </div>
</ng-template>

<ng-template #sizeableModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modalLabel">Modal Heading</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

        </button>
    </div>
    <div class="modal-body">
        ...
    </div>
</ng-template>


<ng-template #scrollableModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modalLabel">Modal Title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

        </button>
    </div>
    <div class="modal-body">
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
            egestas
            eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus
            vel augue
            laoreet rutrum faucibus dolor auctor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque
            nisl
            consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
            egestas
            eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus
            vel augue
            laoreet rutrum faucibus dolor auctor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque
            nisl
            consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
            egestas
            eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus
            vel augue
            laoreet rutrum faucibus dolor auctor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque
            nisl
            consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
            egestas
            eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus
            vel augue
            laoreet rutrum faucibus dolor auctor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque
            nisl
            consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
            egestas
            eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus
            vel augue
            laoreet rutrum faucibus dolor auctor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque
            nisl
            consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
            egestas
            eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus
            vel augue
            laoreet rutrum faucibus dolor auctor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque
            nisl
            consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Save
            changes</button>
    </div>
</ng-template>

<ng-template #staticBackdropModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modalLabel">Modal Heading</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

        </button>
    </div>
    <div class="modal-body">
        <p class="m-0">I will not close if you click outside me. Don't even try to press escape key.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
    </div>
</ng-template>

<ng-template #alertModal let-modal>
    <div class="modal-body">
        <div class="text-center ">
            <i class="dripicons-checkmark h1 text-white"></i>
            <h4 class="mt-2 text-white">Well Done!</h4>
            <p class="mt-3">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
                egestas eget quam.</p>
            <button type="button" class="btn btn-light my-2" (click)="modal.close('Close click')">Continue</button>
        </div>
    </div>
</ng-template>

<ng-template #alertInfoModal let-modal>
    <div class="modal-body">
        <div class="text-center">
            <i class="dripicons-information h1 text-info"></i>
            <h4 class="mt-2">Heads up!</h4>
            <p class="mt-3">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
                egestas eget
                quam.</p>
            <button type="button" class="btn btn-info my-2" (click)="modal.close('Close click')">Continue</button>
        </div>
    </div>
</ng-template>


<ng-template #alertWarningModal let-modal>
    <div class="modal-body">
        <div class="text-center">
            <i class="dripicons-warning h1 text-warning"></i>
            <h4 class="mt-2">Incorrect Information</h4>
            <p class="mt-3">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
                egestas eget quam.</p>
            <button type="button" class="btn btn-warning my-2" (click)="modal.close('Close click')">Continue</button>
        </div>
    </div>
</ng-template>

<ng-template #positionModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="topModalLabel">Modal Heading</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

        </button>
    </div>
    <div class="modal-body">
        <h5>Text in a modal</h5>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Save
            changes</button>
    </div>
</ng-template>

<ng-template #centeredModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="myCenterModalLabel">Center Modal</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

        </button>
    </div>
    <div class="modal-body">
        <h5>Overflowing text to show scroll behavior</h5>
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget
            quam. Morbi
            leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet
            rutrum
            faucibus dolor auctor.</p>
    </div>
</ng-template>

<ng-template #stackedModal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modalLabel">Modal Heading</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
    </div>
    <div class="modal-body">
        <h5 class="mt-0">Text in a modal</h5>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="openStackedModal(stackedModal2,modal)">Next</button>
    </div>
</ng-template>

<ng-template #stackedModal2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modalLabel">Modal Heading</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
    </div>
    <div class="modal-body">
        <h5 class="mt-0">Text in a modal</h5>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #toggleModal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="exampleModalToggleLabel">Modal 1</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
    </div>
    <div class="modal-body">
        Show a second modal and hide this one with the button below.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="openToggleModal(toggleModal2,modal)">Open second
            modal</button>
    </div>
</ng-template>

<ng-template #toggleModal2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
    </div>
    <div class="modal-body">
        Hide this modal and show the first with the button below.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="openToggleModal(toggleModal1,modal)">Back to
            first</button>
    </div>
</ng-template>


<ng-template #signupFormModal let-modal>

    <div class="modal-body">
        <div class="text-center mt-2 mb-4">
            <div class="auth-logo">
                <div class="logo logo-light">
                    <span class="logo-lg">
                        <img src="assets/images/logo-light.png" alt="" height="22">
                    </span>
                </div>

                <div class="logo logo-dark">
                    <span class="logo-lg">
                        <img src="assets/images/logo-dark.png" alt="" height="22">
                    </span>
                </div>
            </div>
        </div>

        <form class="px-3" [formGroup]="signupForm" #signup="ngForm">

            <div class="mb-3">
                <label for="username" class="form-label">Name</label>
                <input class="form-control" type="email" id="username" required formControlName="name"
                    placeholder="Michael Zenaty" [ngClass]="{'is-invalid': signup.submitted && form1['name'].invalid}">
            </div>

            <div class="mb-3">
                <label for="emailaddress" class="form-label">Email address</label>
                <input class="form-control" type="email" id="emailaddress" required formControlName="email"
                    placeholder="john@deo.com" [ngClass]="{'is-invalid': signup.submitted && form1['email'].invalid}">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input class="form-control" type="password" required formControlName="password" id="password"
                    placeholder="Enter your password"
                    [ngClass]="{'is-invalid': signup.submitted && form1['password'].invalid}">
            </div>

            <div class="mb-3">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="customCheck1" formControlName="terms">
                    <label class="form-check-label" for="customCheck1">I accept <a href="javascript:void(0)">Terms and
                            Conditions</a></label>
                </div>
            </div>

            <div class="mb-3 text-center">
                <button class="btn btn-primary" type="submit">Sign Up Free</button>
            </div>

        </form>
    </div>
</ng-template>


<ng-template #loginFormModal let-modal>
    <div class="modal-body">
        <div class="text-center mt-2 mb-4">
            <div class="auth-logo">
                <div class="logo logo-light">
                    <span class="logo-lg">
                        <img src="assets/images/logo-light.png" alt="" height="22">
                    </span>
                </div>

                <div class="logo logo-dark">
                    <span class="logo-lg">
                        <img src="assets/images/logo-dark.png" alt="" height="22">
                    </span>
                </div>
            </div>
        </div>

        <form [formGroup]="loginForm" class="px-3" #login="ngForm">
            <div class="mb-3">
                <label for="emailaddress1" class="form-label">Email address</label>
                <input class="form-control" type="email" id="emailaddress1" required formControlName="email"
                    placeholder="john@deo.com" [ngClass]="{'is-invalid': login.submitted && form2['email'].invalid}">
            </div>

            <div class="mb-3">
                <label for="password1" class="form-label">Password</label>
                <input class="form-control" type="password" required formControlName="password" id="password1"
                    placeholder="Enter your password"
                    [ngClass]="{'is-invalid': login.submitted && form2['password'].invalid}">
            </div>

            <div class="mb-3">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="customCheck2">
                    <label class="form-check-label" for="customCheck2">Remember me</label>
                </div>
            </div>

            <div class="mb-2 text-center">
                <button class="btn rounded-pill btn-primary" type="submit">Sign In</button>
            </div>
        </form>
    </div>
</ng-template>
<!-- modal end -->

<ng-template #accordionInModal let-modal>
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
        <ngb-panel id="accordion1" cardClass="mb-0">
            <ng-template ngbPanelTitle>

                <h5 class="m-0">
                    <a href="javascript:void(0)" class="text-dark">
                        Collapsible Group Item #1
                    </a>
                </h5>

            </ng-template>
            <ng-template ngbPanelContent>
                <div class="p-3">

                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia
                    aute,
                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                    moon
                    tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                    anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </ng-template>

        </ngb-panel>

        <ngb-panel id="accordion2" cardClass="mb-0">
            <ng-template ngbPanelTitle>

                <h5 class="m-0">
                    <a href="javascript:void(0)" class="text-dark">
                        Collapsible Group Item #2
                    </a>
                </h5>

            </ng-template>
            <ng-template ngbPanelContent>
                <div class="p-3">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia
                    aute,
                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                    moon
                    tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                    anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </ng-template>

        </ngb-panel>

        <ngb-panel id="accordion3" cardClass="mb-0">
            <ng-template ngbPanelTitle>
                <h5 class="m-0">
                    <a href="javascript:void(0)" class="text-dark">
                        Collapsible Group Item #3
                    </a>
                </h5>

            </ng-template>
            <ng-template ngbPanelContent>
                <div class="p-3">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia
                    aute,
                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                    moon
                    tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                    anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </ng-template>

        </ngb-panel>
    </ngb-accordion>
</ng-template>
<!-- modal end -->

<ng-template #responsiveModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modalLabel">Modal Content is Responsive</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="responsiveModalForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="field-1" class="form-label">Name</label>
                        <input type="text" class="form-control" id="field-1" placeholder="John" formControlName="name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="field-2" class="form-label">Surname</label>
                        <input type="text" class="form-control" id="field-2" placeholder="Doe"
                            formControlName="surname">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label for="field-3" class="form-label">Address</label>
                        <input type="text" class="form-control" id="field-3" placeholder="Address"
                            formControlName="address">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="field-4" class="form-label">City</label>
                        <input type="text" class="form-control" id="field-4" placeholder="Boston"
                            formControlName="city">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="field-5" class="form-label">Country</label>
                        <input type="text" class="form-control" id="field-5" placeholder="United States"
                            formControlName="country">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="field-6" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="field-6" placeholder="123456" formControlName="zip">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <label for="field-7" class="form-label">Personal Info</label>
                        <textarea class="form-control" id="field-7" placeholder="Write something about yourself"
                            formControlName="personalInfo"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary waves-effect" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-info waves-effect waves-light" (click)="modal.close('Close click')">Save
            changes</button>
    </div>
</ng-template>
<!-- modal end -->

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Bootstrap Modals</h4>

                <p class="sub-header">
                    A rendered modal with header, body, and set of actions in the footer.
                </p>

                <div class="button-list">
                    <!-- Standard  modal -->
                    <button type="button" class="btn btn-primary" (click)="open(standardModal)">Standard
                        Modal</button>
                    <!-- Large modal -->
                    <button type="button" class="btn btn-info" (click)="openModalWithSize(sizeableModal,'lg')">Large
                        Modal</button>
                    <!-- Small modal -->
                    <button type="button" class="btn btn-success" (click)="openModalWithSize(sizeableModal,'sm')">Small
                        Modal</button>
                    <!-- Full width modal -->
                    <button type="button" class="btn btn-primary"
                        (click)="openModalWithSize(standardModal,'full-width')">Full width
                        Modal</button>
                    <!-- Scrollable modal -->
                    <button type="button" class="btn btn-secondary"
                        (click)="openScrollableModal(scrollableModal)">Scrollable
                        Modal</button>
                </div>

            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col -->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Modal with Pages</h4>
                <p class="sub-header">Examples of custom modals.</p>

                <div class="button-list">
                    <!-- Sign Up modal -->
                    <button type="button" class="btn btn-primary" (click)="open(signupFormModal)">Sign Up
                        Modal</button>
                    <!-- Log In modal -->
                    <button type="button" class="btn btn-info" (click)="open(loginFormModal)">Log
                        In
                        Modal</button>
                </div>

            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Modal Position</h4>
                <p class="sub-header">Specify the position for the modal. You can display modal at top, bottom or right
                    of page by specifying
                    classes <code>modal-top</code>, <code>modal-bottom</code> and
                    <code>modal-right</code>
                    respectively. To center modal in page, use <code>centered</code> property.
                </p>

                <div class="button-list">
                    <!-- Top modal -->
                    <button type="button" class="btn btn-secondary"
                        (click)="openCustomPositionedModal(positionModal,'top')">Top
                        Modal</button>
                    <!-- Bottom modal -->
                    <button type="button" class="btn btn-secondary"
                        (click)="openCustomPositionedModal(positionModal,'bottom','sm')">Bottom
                        Modal</button>
                    <!-- Center modal -->
                    <button type="button" class="btn btn-secondary"
                        (click)="openVerticallyCentered(centeredModal)">Center
                        modal</button>
                    <!-- Right modal -->
                    <button type="button" class="btn btn-secondary"
                        (click)="openCustomPositionedModal(positionModal,'right','sm')">Rightbar
                        Modal</button>
                </div>

            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col -->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Modal based Alerts</h4>
                <p class="sub-header">Show different contexual alert messages using modal component</p>

                <div class="button-list">
                    <!-- Success Alert modal -->
                    <button type="button" class="btn btn-success" (click)="openAlertModal(alertModal,'success')">Success
                        Alert</button>
                    <!-- Info Alert modal -->
                    <button type="button" class="btn btn-info" (click)="openModalWithSize(alertInfoModal,'sm')">Info
                        Alert</button>
                    <!-- Warning Alert modal -->
                    <button type="button" class="btn btn-warning"
                        (click)="openModalWithSize(alertWarningModal,'sm')">Warning
                        Alert</button>
                    <!-- Danger Alert modal -->
                    <button type="button" class="btn btn-danger" (click)="openAlertModal(alertModal,'danger')">Danger
                        Alert</button>
                </div>
            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Multiple Modal</h4>
                <p class="sub-header">Display a series of modals one by one to guide your users on multiple aspects or
                    take
                    step wise input.</p>

                <div class="button-list">
                    <!-- Multiple modal -->
                    <button type="button" class="btn btn-secondary" (click)="openStackedModal(stackedModal1)">Multiple
                        Modal</button>
                </div>

            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col -->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Toggle Between Modals</h4>
                <p class="sub-header">Toggle between multiple modals by passing reference of each other.
                </p>

                <a class="btn btn-primary" (click)="openToggleModal(toggleModal1)">Open first
                    modal</a>

            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
<!-- end row -->

<div class="row">

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Static backdrop</h4>

                <p class="sub-header">
                    When backdrop is set to static, the modal will not close when clicking outside it. Click the button
                    below to try it.
                </p>

                <button type="button" class="btn btn-primary" (click)="openBackdropModal(staticBackdropModal)">
                    Launch static backdrop modal
                </button>

            </div>
        </div>
    </div> <!-- end col -->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Custom Modals</h4>

                <p class="sub-header">
                    Examples of custom modals.
                </p>

                <div class="button-list">
                    <!-- Responsive modal -->
                    <button type="button" class="btn btn-success waves-effect waves-light"
                        (click)="open(responsiveModal)">Responsive Modal</button>
                    <!-- Accordion modal -->
                    <button type="button" class="btn btn-secondary waves-effect waves-light"
                        (click)="open(accordionInModal)">Accordion in Modal</button>
                </div>
            </div>
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
<!-- end row -->