<section class="section bg-gradient">
    <div class="container-fluid">
        <div class="row" id="counter">
            <div class="col-lg-3 col-sm-6" *ngFor="let item of statistics">
                <div class="text-center p-3">
                    <div class="counter-icon text-white-50 mb-4">
                        <i class="{{item.icon}} display-4"></i>
                    </div>
                    <div class="counter-content">
                        <h2 class="counter_value mb-3 text-white" [countUp]="item.value"
                            [options]="item.counterOptions">0</h2>
                        <h5 class="counter-name text-white">{{item.title}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>