<div class="card">
    <div class="card-body">
        <div class="float-end" ngbDropdown placement="bottom-end">
            <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div ngbDropdownMenu>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Action</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Another action</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Something else</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Separated link</a>
            </div>
        </div>

        <h4 class="header-title mt-0 mb-3">{{title}}</h4>

        <div class="widget-box-2">
            <div class="widget-detail-2 text-end">
                <span class="badge bg-{{variant}} rounded-pill float-start mt-3">{{trendStats}}% <i
                        class="mdi mdi-trending-{{trendIcon}}"></i>
                </span>
                <h2 class="fw-normal mb-1"> {{stats}} </h2>
                <p class="text-muted mb-3">{{subTitle}}</p>
            </div>
            <ngb-progressbar [type]="variant" [value]="progress" class=" progress-bar-alt-{{variant}} progress-sm">
            </ngb-progressbar>
        </div>
    </div>
</div>