<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Popovers</h4>
                <p class="sub-header">Add small overlays of content, like those on
                    the iPad, to any element for housing secondary information.</p>

                <div class="button-list" id="popover-container">

                    <button type="button" class="btn btn-light" placement="end"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." [autoClose]="false">
                        Popover on right
                    </button>

                    <button type="button" class="btn btn-light" placement="top"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." [autoClose]="false">
                        Popover on top
                    </button>

                    <button type="button" class="btn btn-light" placement="bottom"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." [autoClose]="false">
                        Popover on bottom
                    </button>

                    <button type="button" class="btn btn-light" placement="start"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." [autoClose]="false"
                        popoverTitle="Popover title">
                        Popover on left
                    </button>

                    <button type="button" tabindex="0" class="btn btn-primary" triggers="focus"
                        ngbPopover="And here's some amazing content. It's very engaging. Right?"
                        popoverTitle="Dismissible popover">
                        Dismissible popover
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Tooltips</h4>
                <p class="sub-header">Four options are available: top, right, bottom,
                    and left aligned.</p>

                <div class="button-list" id="tooltip-container">
                    <button type="button" class="btn btn-light" placement="top" ngbTooltip="Tooltip on top">Tooltip on
                        top</button>

                    <button type="button" class="btn btn-light" placement="bottom"
                        ngbTooltip="Tooltip on bottom">Tooltip on
                        bottom</button>

                    <button type="button" class="btn btn-light" placement="start" ngbTooltip="Tooltip on left">Tooltip
                        on
                        left</button>

                    <button type="button" class="btn btn-light" placement="left" ngbTooltip="Tooltip on right">Tooltip
                        on
                        right</button>
                </div>
            </div>
        </div>
    </div>
</div>