<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-4">Default Tabs</h4>

                <ul ngbNav #nav1="ngbNav" [(activeId)]="tabs1" class="nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink>
                            Home
                        </a>
                        <ng-template ngbNavContent>
                            <ng-container *ngTemplateOutlet="Tab1"></ng-container>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink>
                            Profile
                        </a>
                        <ng-template ngbNavContent>
                            <ng-container *ngTemplateOutlet="Tab2"></ng-container>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                        <a ngbNavLink>
                            Messages
                        </a>
                        <ng-template ngbNavContent>
                            <ng-container *ngTemplateOutlet="Tab3"></ng-container>
                        </ng-template>
                    </li>
                </ul>

                <div [ngbNavOutlet]="nav1"></div>

            </div>
        </div> <!-- end card-->
    </div> <!-- end col -->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-4">Tabs Justified</h4>

                <ul ngbNav #nav2="ngbNav" [(activeId)]="tabs2" class="nav-pills navtab-bg nav-justified">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink>
                            Home
                        </a>
                        <ng-template ngbNavContent>
                            <ng-container *ngTemplateOutlet="Tab1"></ng-container>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink>
                            Profile
                        </a>
                        <ng-template ngbNavContent>
                            <ng-container *ngTemplateOutlet="Tab2"></ng-container>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                        <a ngbNavLink>
                            Messages
                        </a>
                        <ng-template ngbNavContent>
                            <ng-container *ngTemplateOutlet="Tab3"></ng-container>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav2"></div>

            </div>
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-4">Tabs Vertical Left</h4>
                <div class="row">
                    <div class="col-sm-3">
                        <div ngbNav #nav3="ngbNav" [(activeId)]="tabs3" class="flex-column nav-pills nav-pills-tab"
                            id="v-pills-tab" role="tablist" orientation="vertical">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink class="mb-1">
                                    Home
                                </a>
                                <ng-template ngbNavContent>
                                    <p>Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem sint.
                                        Veniam sint duis incididunt
                                        do esse magna mollit excepteur laborum qui. Id id reprehenderit sit est eu
                                        aliqua occaecat quis et velit
                                        excepteur laborum mollit dolore eiusmod. Ipsum dolor in occaecat commodo et
                                        voluptate minim reprehenderit
                                        mollit pariatur. Deserunt non laborum enim et cillum eu deserunt excepteur ea
                                        incididunt minim occaecat.</p>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink class="mb-1">
                                    Profile
                                </a>
                                <ng-template ngbNavContent>
                                    <p>Culpa dolor voluptate do laboris laboris irure reprehenderit id incididunt duis
                                        pariatur mollit aute magna
                                        pariatur consectetur. Eu veniam duis non ut dolor deserunt commodo et minim in
                                        quis laboris ipsum velit
                                        id veniam. Quis ut consectetur adipisicing officia excepteur non sit. Ut et elit
                                        aliquip labore Lorem
                                        enim eu. Ullamco mollit occaecat dolore ipsum id officia mollit qui esse anim
                                        eiusmod do sint minim consectetur
                                        qui.</p>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="3">
                                <a ngbNavLink class="mb-1">
                                    Messages
                                </a>
                                <ng-template ngbNavContent>
                                    <p>Fugiat id quis dolor culpa eiusmod anim velit excepteur proident dolor aute qui
                                        magna. Ad proident laboris
                                        ullamco esse anim Lorem Lorem veniam quis Lorem irure occaecat velit nostrud
                                        magna nulla. Velit et et
                                        proident Lorem do ea tempor officia dolor. Reprehenderit Lorem aliquip labore
                                        est magna commodo est ea
                                        veniam consectetur.</p>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="4">
                                <a ngbNavLink class="mb-1">
                                    Settings
                                </a>
                                <ng-template ngbNavContent>
                                    <p>Eu dolore ea ullamco dolore Lorem id cupidatat excepteur reprehenderit
                                        consectetur elit id dolor proident
                                        in cupidatat officia. Voluptate excepteur commodo labore nisi cillum duis aliqua
                                        do. Aliqua amet qui
                                        mollit consectetur nulla mollit velit aliqua veniam nisi id do Lorem deserunt
                                        amet. Culpa ullamco sit
                                        adipisicing labore officia magna elit nisi in aute tempor commodo eiusmod.</p>
                                </ng-template>
                            </li>

                        </div>
                    </div> <!-- end col-->
                    <div class="col-sm-9">
                        <div [ngbNavOutlet]="nav3" class="pt-0"></div>
                    </div> <!-- end col-->
                </div> <!-- end row-->
            </div>
        </div> <!-- end card-->
    </div> <!-- end col -->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-4">Tabs Vertical Right</h4>

                <div class="row">
                    <div class="col-sm-9">
                        <div [ngbNavOutlet]="nav4" class="pt-0"></div>
                    </div> <!-- end col -->
                    <div class="col-sm-3">
                        <div ngbNav #nav4="ngbNav" [(activeId)]="tabs4" class="flex-column nav-pills nav-pills-tab"
                            id="v-pills-tab" role="tablist" orientation="vertical">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink class="mb-1">
                                    Home
                                </a>
                                <ng-template ngbNavContent>
                                    <p>Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem sint.
                                        Veniam sint duis incididunt
                                        do esse magna mollit excepteur laborum qui. Id id reprehenderit sit est eu
                                        aliqua occaecat quis et velit
                                        excepteur laborum mollit dolore eiusmod. Ipsum dolor in occaecat commodo et
                                        voluptate minim reprehenderit
                                        mollit pariatur. Deserunt non laborum enim et cillum eu deserunt excepteur ea
                                        incididunt minim occaecat.</p>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink class="mb-1">
                                    Profile
                                </a>
                                <ng-template ngbNavContent>
                                    <p>Culpa dolor voluptate do laboris laboris irure reprehenderit id incididunt duis
                                        pariatur mollit aute magna
                                        pariatur consectetur. Eu veniam duis non ut dolor deserunt commodo et minim in
                                        quis laboris ipsum velit
                                        id veniam. Quis ut consectetur adipisicing officia excepteur non sit. Ut et elit
                                        aliquip labore Lorem
                                        enim eu. Ullamco mollit occaecat dolore ipsum id officia mollit qui esse anim
                                        eiusmod do sint minim consectetur
                                        qui.</p>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="3">
                                <a ngbNavLink class="mb-1">
                                    Messages
                                </a>
                                <ng-template ngbNavContent>
                                    <p>Fugiat id quis dolor culpa eiusmod anim velit excepteur proident dolor aute qui
                                        magna. Ad proident laboris
                                        ullamco esse anim Lorem Lorem veniam quis Lorem irure occaecat velit nostrud
                                        magna nulla. Velit et et
                                        proident Lorem do ea tempor officia dolor. Reprehenderit Lorem aliquip labore
                                        est magna commodo est ea
                                        veniam consectetur.</p>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="4">
                                <a ngbNavLink class="mb-1">
                                    Settings
                                </a>
                                <ng-template ngbNavContent>
                                    <p>Eu dolore ea ullamco dolore Lorem id cupidatat excepteur reprehenderit
                                        consectetur elit id dolor proident
                                        in cupidatat officia. Voluptate excepteur commodo labore nisi cillum duis aliqua
                                        do. Aliqua amet qui
                                        mollit consectetur nulla mollit velit aliqua veniam nisi id do Lorem deserunt
                                        amet. Culpa ullamco sit
                                        adipisicing labore officia magna elit nisi in aute tempor commodo eiusmod.</p>
                                </ng-template>
                            </li>

                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row-->
            </div>
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-4">Tabs Bordered</h4>


                <ul ngbNav #nav5="ngbNav" [(activeId)]="tabs5" class="nav-tabs nav-bordered">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink>
                            Home
                        </a>
                        <ng-template ngbNavContent>
                            <ng-container *ngTemplateOutlet="Tab1"></ng-container>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink>
                            Profile
                        </a>
                        <ng-template ngbNavContent>
                            <ng-container *ngTemplateOutlet="Tab2"></ng-container>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                        <a ngbNavLink>
                            Messages
                        </a>
                        <ng-template ngbNavContent>
                            <ng-container *ngTemplateOutlet="Tab3"></ng-container>
                        </ng-template>
                    </li>
                </ul>

                <div [ngbNavOutlet]="nav5"></div>
            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col -->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-4">Tabs Bordered Justified</h4>

                <ul ngbNav #nav6="ngbNav" [(activeId)]="tabs6" class="nav-tabs nav-justified nav-bordered">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink>
                            Home
                        </a>
                        <ng-template ngbNavContent>
                            <ng-container *ngTemplateOutlet="Tab1"></ng-container>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink>
                            Profile
                        </a>
                        <ng-template ngbNavContent>
                            <ng-container *ngTemplateOutlet="Tab2"></ng-container>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                        <a ngbNavLink>
                            Messages
                        </a>
                        <ng-template ngbNavContent>
                            <ng-container *ngTemplateOutlet="Tab3"></ng-container>
                        </ng-template>
                    </li>
                </ul>

                <div [ngbNavOutlet]="nav6"></div>
            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-4">Selecting navs</h4>

                <ul ngbNav #nav7="ngbNav" [(activeId)]="tabs7" (navChange)="onNavChange($event)" class="nav-tabs mb-3">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink>Home</a>
                        <ng-template ngbNavContent>
                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
                                aliqua, retro
                                synth
                                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                                Reprehenderit butcher retro
                                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex
                                squid. Aliquip
                                placeat
                                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate
                                nisi qui.</p>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink>Profile</a>
                        <ng-template ngbNavContent>
                            <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
                                four loko
                                farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer
                                mlkshk aliquip jean
                                shorts
                                ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna
                                delectus mollit.
                                Keytar
                                helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack
                                odio cillum wes
                                anderson
                                8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel.
                                Art party
                                scenester
                                stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                        <a ngbNavLink>I can't be selected on click</a>
                        <ng-template ngbNavContent>
                            <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id
                                diam. Nulla
                                facilisi.
                                Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget
                                tincidunt eu, congue
                                et odio.
                                Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus
                                ultrices et. Sed
                                diam urna,
                                egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus
                                faucibus nisl
                                enim, nec
                                tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius
                                natoque
                                penatibus et
                                magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem
                                aliquet ultricies in
                                eget
                                neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="4" [disabled]="true">
                        <a ngbNavLink>I'm disabled</a>
                        <ng-template ngbNavContent>
                            <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id
                                diam. Nulla
                                facilisi.
                                Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget
                                tincidunt eu, congue
                                et odio.
                                Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus
                                ultrices et. Sed
                                diam urna,
                                egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus
                                faucibus nisl
                                enim, nec
                                tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius
                                natoque
                                penatibus et
                                magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem
                                aliquet ultricies in
                                eget
                                neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                        </ng-template>
                    </li>
                </ul>

                <div [ngbNavOutlet]="nav7"></div>
            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col -->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-4">Dynamic navs</h4>


                <ul ngbNav #nav8="ngbNav" [(activeId)]="tabs8" class="nav-tabs nav-bordered mb-3">
                    <li *ngFor="let id of dynamicTabs" [ngbNavItem]="id">
                        <a ngbNavLink>
                            Tab {{ id }}
                            <span class="close position-relative pl-2 font-weight-light"
                                (click)="close($event, id)">×</span>
                        </a>
                        <ng-template ngbNavContent>
                            <p>Tab {{ id }} content</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit suscipit, sed natus cum
                                culpa, blanditiis vero nulla vitae minus quasi sequi eaque sunt cumque? Quis, modi?
                                Natus ratione fugit dicta?</p>
                        </ng-template>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href (click)="add($event)">...</a>
                    </li>
                </ul>

                <div [ngbNavOutlet]="nav8"></div>
            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-xl-6">
        <div id="accordion" class="mb-3">

            <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-0">
                <ngb-panel cardClass="mb-1">
                    <ng-template ngbPanelTitle>
                        <h5 class="m-0">
                            <a class="text-dark" href="javascript:void(0)">
                                <i class="mdi mdi-help-circle me-1 text-primary"></i>
                                What is Vakal text here?
                            </a>
                        </h5>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            3 wolf moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                            wolf
                            moon
                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                            et.
                            Nihil
                            anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            Ad
                            vegan
                            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                            synth nesciunt
                            you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </ng-template>
                </ngb-panel>

                <ngb-panel cardClass="mb-1">
                    <ng-template ngbPanelTitle>
                        <h5 class="m-0">
                            <a class="text-dark" href="javascript:void(0)">
                                <i class="mdi mdi-help-circle me-1 text-primary"></i>
                                Why use Vakal text here?
                            </a>
                        </h5>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            3 wolf moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                            wolf
                            moon
                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                            et.
                            Nihil
                            anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            Ad
                            vegan
                            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                            synth nesciunt
                            you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </ng-template>
                </ngb-panel>

                <ngb-panel cardClass="mb-1">
                    <ng-template ngbPanelTitle>
                        <h5 class="m-0">
                            <a class="text-dark" href="javascript:void(0)">
                                <i class="mdi mdi-help-circle me-1 text-primary"></i>
                                How many variations exist?
                            </a>
                        </h5>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            3 wolf moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                            wolf
                            moon
                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                            et.
                            Nihil
                            anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            Ad
                            vegan
                            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                            synth nesciunt
                            you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </ng-template>
                </ngb-panel>

                <ngb-panel cardClass="mb-1">
                    <ng-template ngbPanelTitle>
                        <h5 class="m-0">
                            <a class="text-dark" href="javascript:void(0)">
                                <i class="mdi mdi-help-circle me-1 text-primary"></i>
                                What is Vakal text here?
                            </a>
                        </h5>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            3 wolf moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                            wolf
                            moon
                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                            et.
                            Nihil
                            anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            Ad
                            vegan
                            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                            synth nesciunt
                            you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>

        </div> <!-- end #accordions-->
    </div> <!-- end col -->

    <div class="col-xl-6">
        <ngb-accordion #acc2="ngbAccordion" activeIds="customAccordion1" [closeOthers]="true" class="custom-accordion">
            <ngb-panel id="customAccordion1" cardClass="mb-0">
                <ng-template ngbPanelTitle>

                    <h5 class="m-0 position-relative">
                        <a href="javascript:void(0)" class="custom-accordion-title text-reset d-block">
                            Q. Can I use this template for my client?
                        </a>
                    </h5>
                    <i class="mdi mdi-chevron-down accordion-arrow"></i>


                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="card-body">

                        Yup, the marketplace license allows you to use this theme
                        in any end products.
                        For more information on licenses, please refere <a
                            href="https://themes.getbootstrap.com/licenses/">here</a>.
                    </div>
                </ng-template>

            </ngb-panel>

            <ngb-panel id="customAccordion2" cardClass="mb-0">
                <ng-template ngbPanelTitle>

                    <h5 class="m-0 position-relative">
                        <a href="javascript:void(0)" class="custom-accordion-title text-reset d-block">
                            Q. Can this theme work with Wordpress?
                        </a>
                    </h5>
                    <i class="mdi mdi-chevron-down accordion-arrow"></i>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="card-body">
                        No. This is a HTML template. It won't directly with
                        wordpress, though you can convert this into wordpress
                        compatible theme
                    </div>
                </ng-template>

            </ngb-panel>

            <ngb-panel id="customAccordion3" cardClass="mb-0">
                <ng-template ngbPanelTitle>

                    <h5 class="m-0 position-relative">
                        <a href="javascript:void(0)" class="custom-accordion-title text-reset d-block">
                            Q. How do I get help with the theme?
                        </a>
                    </h5>

                    <i class="mdi mdi-chevron-down accordion-arrow"></i>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="card-body">

                        Use our dedicated support email (support@coderthemes.com) to
                        send your issues or feedback. We are here to help anytime
                    </div>
                </ng-template>

            </ngb-panel>

            <ngb-panel id="customAccordion4" cardClass="mb-0">
                <ng-template ngbPanelTitle>

                    <h5 class="m-0 position-relative">
                        <a href="javascript:void(0)" class="custom-accordion-title text-reset d-block">
                            Q. Will you regularly give updates of Hyper ?
                        </a>
                    </h5>
                    <i class="mdi mdi-chevron-down accordion-arrow"></i>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="card-body">

                        Yes, We will update the Hyper regularly. All the
                        future updates would be available without any cost
                    </div>
                </ng-template>

            </ngb-panel>

        </ngb-accordion>
    </div>

    <div class="col-xl-6">
        <p>
            <a class="btn btn-primary waves-effect waves-light me-1" href="javascript:void(0)"
                (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                Link with href
            </a>
            <button class="btn btn-primary waves-effect waves-light" type="button" (click)="collapse.toggle()"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                Click here
            </button>
        </p>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" id="collapseExample">
            <div class="card">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>
    </div> <!-- end col-->
    <div class="col-lg-6">
        <p>
            <button class="btn btn-primary" type="button" (click)="collapse2.toggle()"
                [attr.aria-expanded]="!horizontalCollapse" aria-controls="collapseWidthExample">
                Toggle width collapse
            </button>
        </p>
        <div style="min-height: 120px;">
            <div class="collapse-horizontal" id="collapseWidthExample" #collapse2="ngbCollapse"
                [(ngbCollapse)]="horizontalCollapse">
                <div class="card card-body mb-0" style="width: 450px;">
                    This is some placeholder content for a horizontal collapse. It's hidden by default and shown when
                    triggered.
                </div>
            </div>
        </div>
    </div>

</div> <!-- end row -->


<!-- reusable templates -->
<ng-template #Tab1>
    <p>Vakal text here dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
        nec,
        pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    <p class="mb-0">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
        imperdiet
        a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus
        elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
        eleifend
        ac, enim.</p>
</ng-template>

<ng-template #Tab2>
    <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
        venenatis
        vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum
        semper
        nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
    <p class="mb-0">Vakal text here dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        Aenean
        massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
        ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
</ng-template>

<ng-template #Tab3>
    <p>Vakal text here dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
        nec,
        pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    <p class="mb-0">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
        imperdiet
        a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus
        elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
        eleifend
        ac, enim.</p>
</ng-template>