<div class="card">
    <div class="text-center card-body">
        <div class=" float-end" ngbDropdown placement="bottom-end">
            <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div ngbDropdownMenu>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Action</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Another action</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Something else</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Separated link</a>
            </div>
        </div>
        <div *ngIf="member">
            <img [src]="member.avatar" class="rounded-circle avatar-xl img-thumbnail mb-3" alt="profile-image">

            <p class="text-muted font-13 mb-4">
                {{member.bio}}
            </p>

            <div class="text-start">
                <p class="text-muted font-13"><strong>Full Name :</strong> <span class="ms-2">{{member.name}}</span></p>

                <p class="text-muted font-13"><strong>Mobile :</strong><span class="ms-2">{{member.mobile}}</span></p>

                <p class="text-muted font-13"><strong>Email :</strong> <span class="ms-2">{{member.email}}</span>
                </p>

                <p class="text-muted font-13 m-b-5"><strong>Location :</strong> <span
                        class="ms-2">{{member.location}}</span></p>

            </div>
            <button type="button" class="btn btn-primary rounded-pill waves-effect waves-light">Send Message</button>
        </div>

    </div>
</div>