<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <div class="panel-body">
                    <div class="clearfix">
                        <div class="float-start">
                            <h3>Adminto</h3>
                        </div>
                        <div class="float-end">
                            <h4>Invoice # <br>
                                <strong>{{invoiceData.invoice_id}}</strong>
                            </h4>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="float-start mt-3">
                                <address>
                                    <strong>{{invoiceData.address?.owner}}</strong><br>
                                    {{invoiceData.address?.line_1}}<br>
                                    {{invoiceData.address?.city}}, {{invoiceData.address?.state}}
                                    {{invoiceData.address?.zip}}<br>
                                    <abbr title="Phone">P:</abbr> {{invoiceData.address?.phone}}
                                </address>
                            </div>
                            <div class="float-end mt-3">
                                <p><strong>Order Date: </strong> {{invoiceData.order_date}}</p>
                                <p class="m-t-10"><strong>Order Status: </strong> <span
                                        class="label label-pink">{{invoiceData.order_status}}</span></p>
                                <p class="m-t-10"><strong>Order ID: </strong> {{invoiceData.order_id}}</p>
                            </div>
                        </div><!-- end col -->
                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table mt-4">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Item</th>
                                            <th>Description</th>
                                            <th>Quantity</th>
                                            <th>Unit Cost</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of invoiceData.items">
                                            <td>{{item.id}}</td>
                                            <td>{{item.name}}</td>
                                            <td>{{item.description}}</td>
                                            <td>{{item.quantity}}</td>
                                            <td>{{item.unit_cost | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
                                            <td>{{item.total | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-6">
                            <div class="clearfix mt-4">
                                <h5 class="small text-dark fw-normal">PAYMENT TERMS AND POLICIES</h5>

                                <small>
                                    {{invoiceData.notes}}
                                </small>
                            </div>
                        </div>
                        <div class="col-xl-3 col-6 offset-xl-3">
                            <p class="text-end"><b>Sub-total:</b> {{invoiceData.sub_total | number : '1.1-2'}}</p>
                            <p class="text-end">Discount: {{invoiceData.discount}}%</p>
                            <p class="text-end">VAT: {{invoiceData.vat}}%</p>
                            <hr>
                            <h3 class="text-end">USD {{invoiceData.total | number : '1.1-2'}}</h3>
                        </div>
                    </div>
                    <hr>
                    <div class="d-print-none">
                        <div class="float-end">
                            <a href="javascript:window.print()" class="btn btn-dark waves-effect waves-light"><i
                                    class="fa fa-print"></i></a>
                            <a [routerLink]="['.']" class="btn btn-primary waves-effect waves-light ms-1">Submit</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>