<div class="card">
    <form class="card-body">
        <span class="input-icon icon-end">
            <textarea rows="3" class="form-control" placeholder="Post a new message"></textarea>
        </span>
        <div class="pt-1 float-end">
            <a [routerLink]="['.']" class="btn btn-primary btn-sm waves-effect waves-light">Send</a>
        </div>
        <ul class="nav nav-pills profile-pills mt-1">
            <li>
                <a [routerLink]="['.']"><i class="fa fa-user"></i></a>
            </li>
            <li>
                <a [routerLink]="['.']"><i class="fa fa-location-arrow"></i></a>
            </li>
            <li>
                <a [routerLink]="['.']"><i class=" fa fa-camera"></i></a>
            </li>
            <li>
                <a [routerLink]="['.']"><i class="far fa-smile"></i></a>
            </li>
        </ul>

    </form>
</div>