<div class="row">
    <div class="col-lg-12">
        <div class="portfolioFilter">
            <a href="javascript: void(0);" class="filter-menu-item" [class.current]="imageCategory==='all'"
                (click)='filterImages("all")'>All</a>
            <a href="javascript: void(0);" class="filter-menu-item" [class.current]="imageCategory==='natural'"
                (click)='filterImages("natural")'>Natural</a>
            <a href="javascript: void(0);" class="filter-menu-item" [class.current]="imageCategory==='creative'"
                (click)='filterImages("creative")'>Creative</a>
            <a href="javascript: void(0);" class="filter-menu-item" [class.current]="imageCategory==='personal'"
                (click)='filterImages("personal")'>Personal</a>
            <a href="javascript: void(0);" class="filter-menu-item" [class.current]="imageCategory==='photography'"
                (click)='filterImages("photography")'>Photography</a>
        </div>
    </div>
</div>

<div class="port mb-2">
    <div class="row ">
        <div class="col-12 portfolioContainer align-items-center">
            <div class="grid-item" *ngFor="let item of galleryItems; let i=index">
                <div class="gal-detail thumb">
                    <a href="javascript:void(0)" class="image-popup" [title]="item.image?.caption">
                        <img [src]="item.image?.thumb" (click)="open(i)" class="card-img-top"
                            [alt]="item.image?.caption">
                    </a>

                    <div class="text-center">
                        <h5 class="mt-2">{{item.title}}</h5>
                        <p class="text-muted mb-1">{{item.category!.join(', ') | titlecase}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>