<div class="card">
    <div class="card-body">
        <div class="float-end" ngbDropdown placement="bottom-end">
            <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div ngbDropdownMenu>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Action</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Another action</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Something else</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Separated link</a>
            </div>
        </div>


        <h4 class="header-title mt-0 mb-4">Progressbars</h4>

        <h5 class="mt-0">iMacs <span class="text-primary float-end">80%</span></h5>
        <div class="progress progress-bar-alt-primary progress-sm mt-0 mb-3">
            <div class="progress-bar bg-primary progress-animated wow animated animated" role="progressbar"
                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                style="width: 80%; visibility: visible; animation-name: animationProgress;">
            </div><!-- /.progress-bar .progress-bar-danger -->
        </div><!-- /.progress .no-rounded -->

        <h5 class="mt-0">iBooks <span class="text-pink float-end">50%</span></h5>
        <div class="progress progress-bar-alt-pink progress-sm mt-0 mb-3">
            <div class="progress-bar bg-pink progress-animated wow animated animated" role="progressbar"
                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                style="width: 50%; visibility: visible; animation-name: animationProgress;">
            </div><!-- /.progress-bar .progress-bar-pink -->
        </div><!-- /.progress .no-rounded -->

        <h5 class="mt-0">iPhone 5s <span class="text-info float-end">70%</span></h5>
        <div class="progress progress-bar-alt-info progress-sm mt-0 mb-3">
            <div class="progress-bar bg-info progress-animated wow animated animated" role="progressbar"
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                style="width: 70%; visibility: visible; animation-name: animationProgress;">
            </div><!-- /.progress-bar .progress-bar-info -->
        </div><!-- /.progress .no-rounded -->

        <h5 class="mt-0">iPhone 6 <span class="text-warning float-end">65%</span></h5>
        <div class="progress progress-bar-alt-warning progress-sm mt-0 mb-3">
            <div class="progress-bar bg-warning progress-animated wow animated animated" role="progressbar"
                aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
                style="width: 65%; visibility: visible; animation-name: animationProgress;">
            </div><!-- /.progress-bar .progress-bar-warning -->
        </div><!-- /.progress .no-rounded -->

        <h5 class="mt-0">iPhone 4 <span class="text-danger float-end">65%</span></h5>
        <div class="progress progress-bar-alt-danger progress-sm mt-0 mb-3">
            <div class="progress-bar bg-danger progress-animated wow animated animated" role="progressbar"
                aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
                style="width: 65%; visibility: visible; animation-name: animationProgress;">
            </div><!-- /.progress-bar .progress-bar-warning -->
        </div><!-- /.progress .no-rounded -->

        <h5 class="mt-0">iPhone 6s <span class="text-success float-end">40%</span></h5>
        <div class="progress progress-bar-alt-success progress-sm mt-0">
            <div class="progress-bar bg-success progress-animated wow animated animated" role="progressbar"
                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                style="width: 40%; visibility: visible; animation-name: animationProgress;">
            </div><!-- /.progress-bar .progress-bar-success -->
        </div><!-- /.progress .no-rounded -->


    </div>
</div>