<!-- Plans -->
<div class="row {{containerClass}}">
    <article class="pricing-column" *ngFor="let plan of pricingPlans"
        [class]="pricingPlans.length>3 ? 'col-xl-3 col-md-6' : 'col-md-4'">
        <div class="ribbon" *ngIf="plan.isPopular"><span>POPULAR</span></div>
        <div class="card">
            <div class="inner-box card-body">
                <div class="plan-header p-3 text-center">
                    <h3 class="plan-title">{{plan.name}}</h3>
                    <h2 class="plan-price fw-normal">{{plan.price | currency : 'USD' : 'symbol' : '1.0-0'}}</h2>
                    <div class="plan-duration">Per {{plan.duration ? plan.duration :
                        'Month'}}</div>
                </div>
                <ul class="plan-stats list-unstyled text-center p-3 mb-0">
                    <li *ngFor="let feature of plan.features">{{feature}}</li>
                </ul>

                <div class="text-center">
                    <a [routerLink]="['.']"
                        class="btn btn-success btn-bordered-success rounded-pill waves-effect waves-light">Signup
                        Now</a>
                </div>
            </div>
        </div>
    </article>
</div>
<!-- end row -->