<div class="card chat-list-card mb-xl-0">
    <div class="card-body">
        <div class="float-end" ngbDropdown placement="bottom-end">
            <a href="javascript:void(0)" class="arrow-none card-drop" ngbDropdownToggle>
                <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div ngbDropdownMenu>
                <a href="javascript:void(0);" ngbDropdownItem>Action</a>
                <a href="javascript:void(0);" ngbDropdownItem>Another action</a>
                <a href="javascript:void(0);" ngbDropdownItem>Something else</a>
                <a href="javascript:void(0);" ngbDropdownItem>Separated link</a>
            </div>
        </div>

        <div class="d-flex">
            <div class="flex-shrink-0">
                <img [src]="loggedInUser.avatar" class="flex-shrink-0 rounded-circle avatar-sm"
                    [alt]="loggedInUser.name">
            </div>
            <div class="flex-grow-1 align-items-center ms-2">
                <h5 class="mt-0 mb-1">
                    {{loggedInUser.name}}
                </h5>
                <p class="font-13 text-muted mb-0">{{loggedInUser.title}}</p>
            </div>
        </div>

        <hr class="my-3">

        <!-- start search box -->
        <form #searchUserForm="ngForm">
            <div class="search-box chat-search-box">
                <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchUser"
                    name="seachUser" #seachUser="ngModel" (keyup)="search()">
                <i class="mdi mdi-magnify search-icon"></i>
            </div>
        </form>
        <!-- end search box -->
        <hr class="my-3">
        <!-- users -->
        <div>
            <ul class="list-unstyled chat-list mb-0">
                <ngx-simplebar style="max-height: 413px;">

                    <li *ngFor="let user of userList"
                        [ngClass]="{'active':  user.id === selectedUser.id,'unread':user.lastMessageSeen===false}">
                        <a href="javascript:void(0);" (click)="activateUser(user)">
                            <div class="d-flex">
                                <div class="flex-shrink-0 chat-user-img  align-self-center me-2"
                                    [class.active]="user.status==='online'" *ngIf="user.avatar">
                                    <img [src]="user.avatar" class="rounded-circle avatar-sm" alt="" />
                                </div>
                                <div class="flex-shrink-0 chat-user-img  avatar-sm align-self-center me-2"
                                    [class.active]="user.status==='online'" *ngIf="!user.avatar">
                                    <span
                                        class="avatar-title rounded-circle bg-soft-{{user.variant}} text-{{user.variant}}">
                                        <i [class]="user.icon"></i>
                                    </span>
                                </div>

                                <div class="flex-grow-1 overflow-hidden">
                                    <h5 class="text-truncate font-14 mt-0 mb-1">{{user.name}}</h5>
                                    <p class="text-truncate mb-0">{{user.lastMessage}}</p>
                                </div>
                                <div class="font-11">{{user.lastMessageOn}}</div>
                            </div>
                        </a>
                    </li>
                </ngx-simplebar>
                <!-- end slimscroll-->
            </ul>
        </div>
        <!-- end users -->
    </div> <!-- end card-body-->
</div> <!-- end card-->