<div class="row">
    <div class="col-xl-6" *ngFor="let card of embedVideoCards">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Responsive embed video {{card.ratioX}}:{{card.ratioY}}</h4>
                <p class="sub-header">Use class <code>.ratio-{{card.ratioX}}x{{card.ratioY}}</code></p>
                <div class="ratio ratio-{{card.ratioX}}x{{card.ratioY}}">
                    <iframe src="https://www.youtube.com/embed/PrUxWZiQfy4?autohide=0&showinfo=0&controls=0"></iframe>
                </div>
            </div> <!-- end card-body -->
        </div> <!-- end card-->


    </div> <!-- end col -->
</div>
<!-- end row -->