<div class="card">
    <div class="card-body">

        <ng-container *ngFor="let post of posts;let i=index;">
            <ng-container *ngTemplateOutlet="Post;context:{comment:post,containerClass:'mb-3'}">
            </ng-container>
        </ng-container>


        <div class="text-center">
            <a [routerLink]="['.']" class="text-danger"><i class="mdi mdi-spin mdi-loading me-1"></i> Load
                more </a>
        </div>
    </div>
</div>

<ng-template #Post let-comment="comment" let-containerClass="containerClass">
    <div class="d-flex align-items-top"
        [class]="(comment.replies && comment.replies.length>0) ? 'mb-2' : containerClass">
        <img [src]="comment.authorAvatar" alt="" class="flex-shrink-0 comment-avatar avatar-sm rounded me-2">
        <div class="flex-grow-1">
            <h5 class="mt-0"><a [routerLink]="['.']" class="text-dark">{{comment.authorName}}</a><small
                    class="ms-1 text-muted">{{comment.postedOn}}</small></h5>
            <p>{{comment.content.message}}</p>
            <div *ngIf="comment.content.media" [innerHtml]="comment.content.media"></div>

            <div class="comment-footer"
                [ngClass]="{'pt-2': comment.content.media,'mb-3':(comment.replies && comment.replies.length)}">
                <a [routerLink]="['.']"><i class="far fa-thumbs-up"></i></a>
                <a [routerLink]="['.']"><i class="far fa-thumbs-down"></i></a>
                <a [routerLink]="['.']">Reply</a>
            </div>

            <ng-container *ngFor="let reply of comment.replies;let i=index;">
                <ng-container *ngTemplateOutlet="Post;context:{comment:reply,containerClass:'mb-2'}">
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>