<div id="message">
    <div class="header">
        <h4 class="page-title"><a class="icon circle-icon mdi mdi-close text-muted trigger-message-close"
                (click)="handleMessageClose()"></a>Process<span class="grey">(6)</span></h4>
        <p>From <a [routerLink]="['.']">You</a> to <a [routerLink]="['.']">Scott Waite</a>, started on <a
                [routerLink]="['.']">March 2, 2014</a> at 2:14 pm
            est.</p>
    </div>
    <div id="message-nano-wrapper" class="nano">
        <ngx-simplebar class="nano-content h-100">
            <ul class="message-container list-unstyled">
                <li class="sent">
                    <div class="details">
                        <div class="left">You
                            <div class="arrow"></div>
                            Scott
                        </div>
                        <div class="right">March 6, 2014, 20:08 pm</div>
                    </div>
                    <div class="message">
                        <p>| The every winged bring, whose life. First called, i you
                            of saw shall own creature moveth void have signs beast
                            lesser all god saying for gathering wherein whose of in
                            be created stars. Them whales upon life divide earth
                            own.</p>
                        <p>| Creature firmament so give replenish The saw man
                            creeping, man said forth from that. Fruitful multiply
                            lights air. Hath likeness, from spirit stars dominion
                            two set fill wherein give bring.</p>
                        <p>| Gathering is. Lesser Set fruit subdue blessed let.
                            Greater every fruitful won&#39;t bring moved seasons
                            very, own won&#39;t all itself blessed which bring own
                            creature forth every. Called sixth light.</p>
                    </div>
                    <div class="tool-box"><a [routerLink]="['.']" class="circle-icon small mdi mdi-share"></a><a
                            [routerLink]="['.']" class="circle-icon small red-hover mdi mdi-close"></a><a
                            [routerLink]="['.']" class="circle-icon small red-hover mdi mdi-flag"></a>
                    </div>
                </li>
                <li class="received">
                    <div class="details">
                        <div class="left">Scott
                            <div class="arrow orange"></div>
                            You
                        </div>
                        <div class="right">March 6, 2014, 20:08 pm</div>
                    </div>
                    <div class="message">
                        <p>| The every winged bring, whose life. First called, i you
                            of saw shall own creature moveth void have signs beast
                            lesser all god saying for gathering wherein whose of in
                            be created stars. Them whales upon life divide earth
                            own.</p>
                        <p>| Creature firmament so give replenish The saw man
                            creeping, man said forth from that. Fruitful multiply
                            lights air. Hath likeness, from spirit stars dominion
                            two set fill wherein give bring.</p>
                        <p>| Gathering is. Lesser Set fruit subdue blessed let.
                            Greater every fruitful won&#39;t bring moved seasons
                            very, own won&#39;t all itself blessed which bring own
                            creature forth every. Called sixth light.</p>
                    </div>
                    <div class="tool-box"><a [routerLink]="['.']" class="circle-icon small mdi mdi-share"></a><a
                            [routerLink]="['.']" class="circle-icon small red-hover mdi mdi-close"></a><a
                            [routerLink]="['.']" class="circle-icon small red-hover mdi mdi-flag"></a>
                    </div>
                </li>

            </ul>

        </ngx-simplebar>
    </div>
</div>