<div class="card">
    <div class="card-body">
        <div class=" float-end" ngbDropdown placement="bottom-end">
            <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div ngbDropdownMenu>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Action</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Another action</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Something else</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Separated link</a>
            </div>
        </div>

        <h4 class="header-title mt-0 mb-3"><i class="mdi mdi-notification-clear-all me-1"></i> Upcoming Reminders</h4>

        <ul class="list-group mb-0 user-list">
            <li class="list-group-item" *ngFor="let remainder of remainders">
                <a [routerLink]="['.']" class="user-list-item">
                    <div class="user float-start me-3">
                        <i class="mdi mdi-circle text-{{remainder.variant}}"></i>
                    </div>
                    <div class="user-desc overflow-hidden">
                        <h5 class="name mt-0 mb-1">{{remainder.title}}</h5>
                        <span class="desc text-muted font-12 text-truncate d-block">{{remainder.date}} -
                            {{remainder.time}}</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>