<ng-template #content let-modal>
    <div class="modal-header bg-light">

        <h4 class="modal-title" id="myCenterModalLabel">Compose Mail</h4>
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="modal.dismiss('')">
        </button>
    </div>
    <div class="modal-body">
        <form role="form" #mail="ngForm">
            <div class="mb-3">
                <input type="email" class="form-control" placeholder="To" required [(ngModel)]="mailTo" name="mailTo"
                    #mailto="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    [ngClass]="{'is-invalid': mail.submitted && mailto.invalid}">

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Cc" [(ngModel)]="mailCC" name="mailCC"
                            #mailcc="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                            [ngClass]="{'is-invalid': mail.submitted && mailcc.invalid}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Bcc" [(ngModel)]="mailBCC" name="mailbBCC"
                            #mailbcc="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                            [ngClass]="{'is-invalid': mail.submitted && mailbcc.invalid}">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Subject" [(ngModel)]="mailSubject"
                    name="mailSubject">
            </div>
            <div class="mb-3 card border-0">
                <div id="snow-editor">
                    <!-- quill editor -->
                    <quill-editor name="editor" [(ngModel)]="mailBody" format="html" #quillEditor
                        [styles]="{height:'180px'}" [sanitize]="true" [modules]="quillConfig">
                    </quill-editor>

                </div> <!-- end Snow-editor-->

            </div>

            <div class="btn-toolbar">
                <div class="float-end">
                    <button type="button" class="btn btn-success waves-effect waves-light me-1"><i
                            class="far fa-save"></i></button>
                    <button type="button" class="btn btn-success waves-effect waves-light me-1"><i
                            class="far fa-trash-alt"></i></button>
                    <button class="btn btn-purple waves-effect waves-light"><span>Send</span> <i
                            class="fas fa-paper-plane ms-1"></i></button>
                </div>
            </div>

        </form>
    </div>
</ng-template>