<div class="card">
    <div class="card-body">
        <div class="float-end" ngbDropdown placement="bottom-end">
            <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div ngbDropdownMenu>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Action</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Another action</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Something else</a>
                <!-- item-->
                <a href="javascript:void(0);" ngbDropdownItem>Separated link</a>
            </div>
        </div>

        <h4 class="header-title mb-3">Inbox</h4>

        <div class="inbox-widget">

            <div class="inbox-item" *ngFor="let message of messages">
                <a [routerLink]="['.']">
                    <div class="inbox-item-img"><img [src]="message.avatar" class="rounded-circle" alt=""></div>
                    <h5 class="inbox-item-author mt-0 mb-1">{{message.sender}}</h5>
                    <p class="inbox-item-text">{{message.text}}</p>
                    <p class="inbox-item-date">{{message.time}}</p>
                </a>
            </div>

        </div>

    </div>
</div>