<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Default</h4>
                <p class="sub-header">
                    A simple labeling component. Badges scale to match the size of the immediate parent element by using
                    relative font sizing and <code>em</code> units.
                </p>

                <h1>h1.Example heading <span class="badge bg-secondary text-light">New</span></h1>
                <h2>h2.Example heading <span class="badge badge-soft-success">New</span></h2>
                <h3>h3.Example heading <span class="badge bg-primary">New</span></h3>
                <h4>h4.Example heading <a [routerLink]="['.']" class="badge badge-soft-info">Info Link</a></h4>
                <h5>h5.Example heading <span class="badge badge-outline-warning">New</span></h5>
                <h6>h6.Example heading <span class="badge bg-danger">New</span></h6>

            </div> <!-- end card-body -->
        </div> <!-- end card-->

        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Contextual variations</h4>
                <p class="sub-header">
                    Add any of the below mentioned modifier classes to change the appearance of a badge.
                    Badge can be more contextual as well. Just use regular convention e.g. <code>bg-*color</code> to
                    have badge with different background.
                </p>

                <span *ngFor="let variant of variants" class="badge bg-{{variant}} me-1"
                    [ngClass]="{'text-light': ['secondary','dark'].includes(variant),'text-dark':variant==='light'}">{{variant
                    | titlecase}}</span>

                <h5 class="mt-4">Soft Badges</h5>
                <p class="sub-header">
                    Using the <code>.badge-soft*</code> modifier class, you can have more soften variation.
                </p>

                <span *ngFor="let variant of variants" class="badge  badge-soft-{{variant}} me-1">
                    {{variant | titlecase}}
                </span>


                <h5 class="mt-4">Outline Badges</h5>
                <p class="sub-header">
                    Using the <code>.badge-outline-*</code> to quickly create a bordered badges.
                </p>

                <span *ngFor="let variant of variants" class="badge  badge-outline-{{variant}} me-1">
                    {{variant | titlecase}}
                </span>


            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col-->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Pill Badges</h4>
                <p class="sub-header">
                    Use the <code>.rounded-pill</code> modifier class to make badges more rounded.
                </p>

                <span *ngFor="let variant of variants" class="badge bg-{{variant}} rounded-pill me-1"
                    [ngClass]="{'text-light': ['secondary','dark'].includes(variant),'text-dark':variant==='light'}">{{variant
                    | titlecase}}</span>

                <h5 class="mt-4">Soft Badges</h5>
                <p class="sub-header">
                    Use the <code>.badge-soft-*</code> modifier class to make badges soft.
                </p>

                <span *ngFor="let variant of variants" class="badge  badge-soft-{{variant}} rounded-pill me-1">
                    {{variant | titlecase}}
                </span>

                <h5 class="mt-4">Outline Badges</h5>
                <p class="sub-header">
                    Using the <code>.badge-outline-*</code> to quickly create a bordered badges.
                </p>

                <span *ngFor="let variant of variants" class="badge  badge-outline-{{variant}} rounded-pill me-1">
                    {{variant | titlecase}}
                </span>

            </div> <!-- end card-body -->
        </div> <!-- end card -->

        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Badge Positioned</h4>
                <p class="sub-header">
                    Use the <code>.rounded-pill</code> modifier class to make badges more rounded.
                </p>

                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-primary position-relative">
                            Inbox
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                99+
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary position-relative">
                            Profile
                            <span
                                class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                                <span class="visually-hidden">New alerts</span>
                            </span>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-success mt-4">
                            Notifications <span class="badge bg-light text-dark ms-1">4</span>
                        </button>
                    </div>
                </div>
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="header-title">Pagination</h4>
                        <p class="sub-header">
                            Provide pagination links for your site or app with the multi-page pagination component.
                        </p>

                        <p class="mb-1 fw-bold">Default Pagination</p>
                        <p class="text-muted font-14">
                            Simple pagination inspired by Rdio, great for apps and search results.
                        </p>

                        <ngb-pagination [collectionSize]="50" [(page)]="page1" aria-label="Default pagination">
                        </ngb-pagination>

                        <p class="mb-1 fw-bold mt-4">Rounded Pagination</p>
                        <p class="text-muted font-14">
                            Add <code> .pagination-rounded</code> for rounded pagination.
                        </p>

                        <ngb-pagination [collectionSize]="50" [(page)]="page2" aria-label="Default pagination"
                            class="pagination-rounded">
                        </ngb-pagination>


                        <p class="mb-1 fw-bold mt-4">Sizing</p>
                        <p class="text-muted font-14">
                            Add <code>size='sm'|'lg'</code>
                            for additional sizes.
                        </p>

                        <ngb-pagination [collectionSize]="30" [(page)]="page3" aria-label="Default pagination"
                            size="lg">
                        </ngb-pagination>
                        <ngb-pagination [collectionSize]="30" [(page)]="page4" aria-label="Default pagination"
                            size="sm">
                        </ngb-pagination>

                        <p class="mb-1 fw-bold mt-4">Alignment</p>
                        <p class="text-muted font-14">
                            Change the alignment of pagination components with flexbox utilities.
                        </p>
                        <ngb-pagination class="d-flex justify-content-center" [collectionSize]="50" [(page)]="page5">
                            <ng-template ngbPaginationPrevious>Prev</ng-template>
                            <ng-template ngbPaginationNext>Next</ng-template>
                        </ngb-pagination>
                        <ngb-pagination class="d-flex justify-content-end" [collectionSize]="50" [(page)]="page6">
                            <ng-template ngbPaginationPrevious>Prev</ng-template>
                            <ng-template ngbPaginationNext>Next</ng-template>
                        </ngb-pagination>

                    </div>

                    <div class="col-md-6">
                        <h4 class="header-title mt-3 mt-sm-0">Breadcrumb</h4>
                        <p class="text-muted font-14">
                            Indicate the current page’s location within a navigational hierarchy.
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-4">

                                    <nav aria-label="breadcrumb" *ngFor="let breadcrumbItem of breadcrumbData">
                                        <ol class="breadcrumb">
                                            <ng-container *ngFor="let item of breadcrumbItem">
                                                <li class="breadcrumb-item" *ngIf="!item.active"><a
                                                        [routerLink]="item.path">{{item.label}}</a>
                                                </li>
                                                <li class="breadcrumb-item active" *ngIf="item.active">{{item.label}}
                                                </li>
                                            </ng-container>
                                        </ol>
                                    </nav>

                                </div>
                            </div> <!-- end col -->

                            <div class="col-md-6">
                                <div class="mb-4">
                                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                                        aria-label="breadcrumb" *ngFor="let breadcrumbItem of breadcrumbData">
                                        <ol class="breadcrumb">
                                            <ng-container *ngFor="let item of breadcrumbItem">
                                                <li class="breadcrumb-item" *ngIf="!item.active"><a
                                                        [routerLink]="item.path">{{item.label}}</a>
                                                </li>
                                                <li class="breadcrumb-item active" *ngIf="item.active">{{item.label}}
                                                </li>
                                            </ng-container>
                                        </ol>
                                    </nav>
                                </div>
                            </div> <!-- end col -->

                            <div class="col-md-6">
                                <div class="mb-4">
                                    <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb"
                                        *ngFor="let breadcrumbItem of breadcrumbData">
                                        <ol class="breadcrumb">
                                            <ng-container *ngFor="let item of breadcrumbItem">
                                                <li class="breadcrumb-item" *ngIf="!item.active"><a
                                                        [routerLink]="item.path">{{item.label}}</a>
                                                </li>
                                                <li class="breadcrumb-item active" *ngIf="item.active">{{item.label}}
                                                </li>
                                            </ng-container>
                                        </ol>
                                    </nav>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </div> <!-- end col -->
                </div> <!-- end row -->

            </div> <!-- end card-body-->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>